.button {
  display: inline-block;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  transition: background-color 0.3s ease;
  align-self: center;
  visibility: hidden;
}

.left-buttons,
.right-buttons {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-bottom: 15px;
}

.button:hover {
  filter: brightness(90%);
}

.button--succes {
  background-color: #28a745;
}

.button--succes:hover {
  background-color: #218838;
}

.button--info {
  background-color: #4690eb;
}

.button--info:hover {
  background-color: #2e7edf;
}

.button--danger {
  background-color: #dc3545;
}

.button--danger:hover {
  background-color: #c82333;
}