#feedback-section {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;  
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  z-index: 9999; 
}

#feedback-widget {
  background-color: #f9f9f9;
  display: none;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  border-radius: 8px;
  position: relative;
  color: #4a4a4a;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.5s ease-in-out;
  z-index: 10000;   
}

#feedback-widget.top-right {
  position: fixed;
  top: 85px;
  right: 25px;
  background-color: transparent;
  box-shadow: none;
  opacity: 1;
  z-index: 10000;
  transition: all 0.5s ease-in-out;
}

#feedback-section.transparent {
  background-color: transparent;
}

.feedback-widget__close {
  position: absolute;
  top: 0px;
  right: 0px;
  background: none;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: #888;
}

.feedback-widget__close:hover {
  color: #333;
}

.feedback-widget__actions {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.feedback-icon {
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.feedback-icon--success {
  color: #28a745;
}

.feedback-icon--success:hover {
  transform: scale(1.2);
}

.feedback-icon--danger {
  color: #dc3545;
}

.feedback-icon--danger:hover {
  transform: scale(1.2);
}