@media (max-width: 1000px) {
  .score-display {
    gap: 360px;
  }
  
  .center-info {
    gap: 40px;
  }

  .othello-board td {
    width: 82px;
    height: 82px;
  }
  
  .white-piece,
  .black-piece {
    width: 70px;
    height: 70px;
  }
  
  .possible-move {
    width: 60px;
    height: 60px;
  }
  
  #feedback-widget {
    font-size: 24px; 
  }
}

@media (max-height: 1000px) {
  .score-display {
    gap: 360px;
  }
  
  .center-info {
    gap: 40px;
  }

  .othello-board td {
    width: 82px;
    height: 82px;
  }
  
  .white-piece,
  .black-piece {
    width: 70px;
    height: 70px;
  }
  
  .possible-move {
    width: 60px;
    height: 60px;
  }
  
  #feedback-widget {
    font-size: 24px; 
  }
}

@media (max-width: 770px) {
  .score-display {
    gap: 220px;
  }
  
  .center-info {
    gap: 25px;
  }

  .othello-board td {
    width: 65px;
    height: 65px;
  }
  
  .white-piece,
  .black-piece {
    width: 60px;
    height: 60px;
  }
  
  .possible-move {
    width: 50px;
    height: 50px;
  }
  
  #feedback-widget {
    font-size: 24px; 
  }

  #joke-content {
    max-width: 600px;
  }  
}

@media (max-height: 865px) {
  .score-display {
    gap: 220px;
  }
  
  .center-info {
    gap: 30px;
  }

  .othello-board td {
    width: 65px;
    height: 65px;
  }
  
  .white-piece,
  .black-piece {
    width: 60px;
    height: 60px;
  }
  
  .possible-move {
    width: 50px;
    height: 50px;
  }
  
  #feedback-widget {
    font-size: 24px; 
  }

  #joke-content {
    max-width: 600px;
  } 
}

@media (max-width: 550px) {
  .score-display {
    gap: 170px;
  }
  
  .center-info {
    gap: 10px;
  }

  .left-buttons,
  .right-buttons {
    gap: 10px;
  }

  .othello-board td {
    width: 55px;
    height: 55px;
  }
  
  .white-piece,
  .black-piece {
    width: 45px;
    height: 45px;
  }
  
  .possible-move {
    width: 40px;
    height: 40px;
  }
  
  #feedback-widget {
    font-size: 24px; 
  }

  #joke-content {
    max-width: 450px;
  } 
}

@media (max-height: 720px) {
  .score-display {
    gap: 170px;
  }
  
  .center-info {
    gap: 10px;
  }

  .left-buttons,
  .right-buttons {
    gap: 10px;
  }

  .othello-board td {
    width: 55px;
    height: 55px;
  }
  
  .white-piece,
  .black-piece {
    width: 45px;
    height: 45px;
  }
  
  .possible-move {
    width: 40px;
    height: 40px;
  }
  
  #feedback-widget {
    font-size: 24px; 
  }

  #joke-content {
    max-width: 450px;
  } 
}

@media (max-width: 470px) {
  .score-display {
    gap: 145px;
    font-size: 12px;
  }
  
  .center-info {
    gap: 5px;
  }

  .left-buttons,
  .right-buttons {
    gap: 5px;
  }

  .button {
    font-size: 12px;
  }

  .othello-board td {
    width: 45px;
    height: 45px;
  }
  
  .white-piece,
  .black-piece {
    width: 40px;
    height: 40px;
  }
  
  .possible-move {
    width: 35px;
    height: 35px;
  }
  
  #feedback-widget {
    font-size: 24px; 
  }

  #joke-content {
    max-width: 380px;
  } 
}

@media (max-width: 425px) {
  .score-display {
    gap: 110px;
    font-size: 8px;
  }
  
  .center-info {
    gap: 4px;
  }

  .left-buttons,
  .right-buttons {
    gap: 4px;
  }

  .button {
    font-size: 8px;
  }

  .othello-board td {
    width: 35px;
    height: 35px;
  }
  
  .white-piece,
  .black-piece {
    width: 30px;
    height: 30px;
  }
  
  .possible-move {
    width: 25px;
    height: 25px;
  }
  
  #feedback-widget {
    font-size: 24px; 
  }

  #joke-content {
    max-width: 320px;
  } 
}

@media (max-height: 545px) {
  .score-display {
    gap: 110px;
    font-size: 8px;
  }
  
  .center-info {
    gap: 4px;
  }

  .left-buttons,
  .right-buttons {
    gap: 4px;
  }

  .button {
    font-size: 8px;
  }

  .othello-board td {
    width: 35px;
    height: 35px;
  }
  
  .white-piece,
  .black-piece {
    width: 30px;
    height: 30px;
  }
  
  .possible-move {
    width: 25px;
    height: 25px;
  }
  
  #feedback-widget {
    font-size: 24px; 
  }

  #joke-content {
    max-width: 320px;
  } 
}