#time-remaining {
  visibility: visible;
}

.score-display {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 15px;
  gap: 485px;
}

.center-info {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.color-indicator {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
  background-color: lightblue;
  color: blue;
  text-align: center;
}

.color-indicator.white {
  background-color: #ffffff;
  color: #000000;
}

.color-indicator.black {
  background-color: #000000;
  color: #ffffff;
}

.color-indicator.green {
  background-color: lightgreen;
  color: #006400;
}

.color-indicator.red {
  background-color: lightcoral;
  color: #8B0000;
}