#feedback-section {
  display: none;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 8px;
}

#feedback-widget {
  background-color: #f9f9f9;
  display: none;
  opacity: 0;
  border-radius: 8px;
  padding-top: 25px;
  position: relative;
  color: #4a4a4a;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.5s ease-in-out;
}

.feedback-widget__close {
  position: absolute;
  top: 5px;
  right: 6px;
  background: none;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: #888;
}

.feedback-widget__close:hover {
  color: #333;
}

.feedback-widget__actions {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.feedback-icon {
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.feedback-icon--success {
  color: #28a745;
}

.feedback-icon--success:hover {
  transform: scale(1.2);
}

.feedback-icon--danger {
  color: #dc3545;
}

.feedback-icon--danger:hover {
  transform: scale(1.2);
}

@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-20px);
    opacity: 0;
  }
}

#feedback-widget.hide-animation {
  animation: slideUp 0.5s forwards;
}

#button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  color: white;
  transition: background-color 0.3s ease;
}

.button:hover {
  filter: brightness(90%);
}

.button--succes {
  background-color: #28a745;
}

.button--succes:hover {
  background-color: #218838;
}

.button--danger {
  background-color: #dc3545;
}

.button--danger:hover {
  background-color: #c82333;
}

@keyframes wobble {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-0.5deg);
  }
  75% {
    transform: rotate(0.5deg);
  }
}

.wobble {
  animation: wobble 0.5s ease-in-out;
}

.player-info {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.score-display {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 20px;
}

.player-color-indicator {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

.othello-board {
  border-collapse: collapse;
  margin: 0 auto;
}

.othello-board td {
  width: 60px;
  height: 60px;
  background-color: #4caf50;
  border: 2px solid #006400;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.othello-board td:hover {
  background-color: #66bb6a;
}

.white-piece,
.black-piece {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.white-piece {
  background: linear-gradient(to bottom, #ffffff, #dcdcdc);
}

.black-piece {
  background: linear-gradient(to bottom, #000000, #1a1919);
}

.possible-move {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.possible-move:hover {
  transform: scale(1.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

@media (max-width: 600px) {
  #feedback-widget {
    font-size: 13px;
    padding: 15px;
  }

  .feedback-widget__close {
    display: none;
  }

  #button-container {
    gap: 5px;
  }

  .othello-board td {
    width: 50px;
    height: 50px;
  }

  .white-piece,
  .black-piece {
    width: 40px;
    height: 40px;
  }  
}