/* INFO */
.player-info {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#opponent-name {
  font-weight: bold;
  color: #007bff;
}

/* SCORE & TIMER */
.color-indicator {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

.score-display {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 20px;
}

.color-indicator.white {
  background-color: #ffffff;
  color: #000000;
}

.color-indicator.black {
  background-color: #000000;
  color: #ffffff;
}

.color-indicator.green {
  background-color: lightgreen;
  color: #006400;
}

.color-indicator.red {
  background-color: lightcoral;
  color: #8B0000;
}

/* BOARD */
.othello-board {
  border-collapse: collapse;
  margin: 0 auto;
}

.othello-board td {
  width: 60px;
  height: 60px;
  background-color: #4caf50;
  border: 2px solid #006400;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.board-cell.even {
  background-color: lawngreen;
}

.board-cell.odd {
  background-color: limegreen;
}

.cell-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.white-piece,
.black-piece {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.white-piece {
  background: linear-gradient(to bottom, #ffffff, #dcdcdc);
}

.black-piece {
  background: linear-gradient(to bottom, #000000, #1a1919);
}

.white-border {
  border: 2px solid white;
}

.black-border {
  border: 2px solid black;
}

.possible-move {
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  animation: pulse 1.0s ease-in-out infinite;
}

.possible-move:hover {
  animation: none;
  transform: scale(1.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.possible-move:active {
  transform: scale(1.5);
  animation: click-glow 0.4s ease-out;
}

.wobble {
  animation: wobble 0.5s ease-in-out infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
}

@keyframes wobble {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-4.0deg);
  }
  75% {
    transform: rotate(4.0deg);
  }
}

@keyframes click-glow {
  0% {
    box-shadow: 0 0 15px rgba(255, 255, 0, 0.8), 0 0 30px rgba(255, 255, 0, 0.4);
  }
  50% {
    box-shadow: 0 0 30px rgba(255, 255, 0, 0.6), 0 0 50px rgba(255, 255, 0, 0.3);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.5), 0 0 20px rgba(255, 255, 0, 0.2);
  }
}

/* BUTTONS */
#button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

#pass-button {
  animation: wobble 0.5s ease-in-out infinite;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  color: white;
  transition: background-color 0.3s ease;
}

.button:hover {
  animation: none;
  filter: brightness(90%);
}

.button--succes {
  background-color: #28a745;
}

.button--succes:hover {
  animation: none;
  background-color: #218838;
}

.button--danger {
  background-color: #dc3545;
}

.button--danger:hover {
  animation: none;
  background-color: #c82333;
}

/* FEEDBACK */
#feedback-section {
  display: none;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 8px;
}

#feedback-widget {
  background-color: #f9f9f9;
  display: none;
  opacity: 0;
  border-radius: 8px;
  padding-top: 25px;
  position: relative;
  color: #4a4a4a;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.5s ease-in-out;
}

#feedback-widget.fade-in {
  animation: fadeIn 0.5s forwards;
}

#feedback-widget.fade-out {
  animation: fadeOut 0.5s forwards;
}

.feedback-widget__close {
  position: absolute;
  top: 5px;
  right: 6px;
  background: none;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: #888;
}

.feedback-widget__close:hover {
  color: #333;
}

.feedback-widget__actions {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.feedback-icon {
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.feedback-icon--success {
  color: #28a745;
}

.feedback-icon--success:hover {
  transform: scale(1.2);
}

.feedback-icon--danger {
  color: #dc3545;
}

.feedback-icon--danger:hover {
  transform: scale(1.2);
}

.flex {
  display: flex !important;
}

.inline-block {
  display: inline-block !important;
}

.hidden {
  display: none !important;
}

.visible {
  display: block !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* MEDIA */
@media (min-width: 690px) and (min-height: 900px) {
  .othello-board td {
    width: 85px;
    height: 85px;
  }

  .white-piece,
  .black-piece {
    width: 65px;
    height: 65px;
  }  

  .possible-move {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 404px) and (max-width: 600px) {
  #feedback-widget {
    font-size: 13px;
    padding: 15px;
  }

  .feedback-widget__close {
    display: none;
  }

  #button-container {
    gap: 5px;
  }

  .othello-board td {
    width: 50px;
    height: 50px;
  }

  .white-piece,
  .black-piece {
    width: 40px;
    height: 40px;
  }  

  .possible-move {
    width: 25px;
    height: 25px;
  }
}

@media (min-height: 600px) and (max-height: 670px) {
  #feedback-widget {
    font-size: 13px;
    padding: 15px;
  }

  .feedback-widget__close {
    display: none;
  }

  #button-container {
    gap: 5px;
  }

  .othello-board td {
    width: 50px;
    height: 50px;
  }

  .white-piece,
  .black-piece {
    width: 40px;
    height: 40px;
  }  

  .possible-move {
    width: 25px;
    height: 25px;
  }
}

@media (min-width: 326px) and (max-width: 403px) {
  #feedback-widget {
    font-size: 10px;
    padding: 10px;
  }

  .feedback-widget__close {
    display: none;
  }

  #button-container {
    gap: 5px;
  }

  .othello-board td {
    width: 40px;
    height: 40px;
  }

  .white-piece,
  .black-piece {
    width: 30px;
    height: 30px;
  }  

  .possible-move {
    width: 20px;
    height: 20px;
  }
}

@media (min-height: 520px) and (max-height: 599px) {
  #feedback-widget {
    font-size: 10px;
    padding: 10px;
  }

  .feedback-widget__close {
    display: none;
  }

  #button-container {
    gap: 5px;
  }

  .othello-board td {
    width: 40px;
    height: 40px;
  }

  .white-piece,
  .black-piece {
    width: 30px;
    height: 30px;
  }  

  .possible-move {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 204px) and (max-width: 325px) {
  #feedback-widget {
    font-size: 8px;
    padding: 8px;
  }

  .feedback-widget__close {
    display: none;
  }

  #button-container {
    gap: 5px;
  }

  .othello-board td {
    width: 25px;
    height: 25px;
  }

  .white-piece,
  .black-piece {
    width: 18px;
    height: 18px;
  }  

  .possible-move {
    width: 13px;
    height: 13px;
  }
  
  #player-info h2 {
    font-size: 16px;
    line-height: 1.2;
  }
}

@media (min-height: 380px) and (max-height: 519px) {
  #feedback-widget {
    font-size: 8px;
    padding: 8px;
  }

  .feedback-widget__close {
    display: none;
  }

  #button-container {
    gap: 5px;
  }

  .othello-board td {
    width: 25px;
    height: 25px;
  }

  .white-piece,
  .black-piece {
    width: 18px;
    height: 18px;
  }  

  .possible-move {
    width: 13px;
    height: 13px;
  }
  
  #player-info h2 {
    font-size: 16px;
    line-height: 1.2;
  }
}

@media (min-width: 122px) and (max-width: 203px) {
  #feedback-widget {
    font-size: 8px;
    padding: 8px;
  }

  .feedback-widget__close {
    display: none;
  }

  #button-container {
    gap: 5px;
  }

  .button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
    color: white;
    transition: background-color 0.3s ease;
  }

  .othello-board td {
    width: 15px;
    height: 15px;
  }

  .white-piece,
  .black-piece {
    width: 12px;
    height: 12px;
  }  

  .possible-move {
    width: 8px;
    height: 8px;
  }
  
  #player-info h2 {
    font-size: 12px;
    line-height: 1.2;
  }
  
  .score-display {
    font-size: 7px;
    gap: 10px;
  }
}

@media (min-height: 200px) and (max-height: 379px) {
  #feedback-widget {
    font-size: 8px;
    padding: 8px;
  }

  .feedback-widget__close {
    display: none;
  }

  #button-container {
    gap: 5px;
  }

  .button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
    color: white;
    transition: background-color 0.3s ease;
  }

  .othello-board td {
    width: 15px;
    height: 15px;
  }

  .white-piece,
  .black-piece {
    width: 12px;
    height: 12px;
  }  

  .possible-move {
    width: 8px;
    height: 8px;
  }
  
  #player-info h2 {
    font-size: 12px;
    line-height: 1.2;
  }
  
  .score-display {
    font-size: 7px;
    gap: 10px;
  }
}

@media (max-width: 121px) {
  #feedback-widget {
    font-size: 4px;
    padding: 4px;
  }

  .feedback-widget__close {
    display: none;
  }

  #button-container {
    gap: 5px;
  }

  .button {
    padding: 3px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 6px;
    color: white;
    transition: background-color 0.3s ease;
  }

  .othello-board td {
    width: 7px;
    height: 7px;
  }

  .white-piece,
  .black-piece {
    width: 5px;
    height: 5px;
  }  

  .possible-move {
    width: 4px;
    height: 4px;
  }
  
  #player-info h2 {
    font-size: 7px;
    line-height: 1.2;
  }
  
  .score-display {
    flex-direction: column;
    margin-top: 3px;
    font-size: 4px;
    gap: 3px;
  }
}