@model HomePartial

@if (!Model.Pending.InGame && Model.GameRequests != null && Model.GameRequests.Count > 0)
{
    <span><strong>From:</strong></span>
    <ul style="list-style: none; padding-left: 0;">
        @foreach (var player in Model.GameRequests)
        {
            <li style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 5px; background-color:lightgoldenrodyellow">
                <span><a asp-controller="Home" asp-action="Profile" asp-route-username="@player" style="text-decoration: none; color: inherit;">@player</a></span>
                <div>
                    <button type="submit" class="btn btn-link p-0" style="font-size: 16px; margin-right: 5px;" title="Accept request" onclick="acceptGameRequest('@player')">
                        <i class="fas fa-check-circle" style="font-size: 18px; color: forestgreen;"></i>
                    </button>
                    <button type="submit" class="btn btn-link p-0" style="font-size: 16px;" title="Decline request" onclick="declineGameRequest('@player')">
                        <i class="fas fa-times-circle" style="font-size: 18px; color: orangered;"></i>
                    </button>
                </div>
            </li>
        }
    </ul>
}

@if (Model.Pending.InGame && Model.SentGameRequests != null && Model.SentGameRequests.Count > 0)
{
    <span><strong>To:</strong></span>
    <ul style="list-style: none; padding-left: 0;">
        @foreach (var player in Model.SentGameRequests)
        {
            <li style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 5px; background-color:lightgoldenrodyellow">
                <span><a asp-controller="Home" asp-action="Profile" asp-route-username="@player" style="text-decoration: none; color: inherit;">@player</a></span>
            </li>
        }
    </ul>
}

@if (!Model.Pending.InGame && Model.GameRequests != null && Model.GameRequests.Count <= 0)
{
    <p>No pending game requests.</p>
}

@if (Model.Pending.InGame && Model.SentGameRequests != null && Model.SentGameRequests.Count <= 0)
{
    <p>No sent game requests.</p>
}