@model RefreshView

<div id="online-players-container">
    @await Html.PartialAsync("_OnlinePlayersPartial", Model)
</div>

<div id="friends-container">
    @await Html.PartialAsync("_FriendsPartial", Model)
</div>

<div id="game-requests-container">
    @await Html.PartialAsync("_GameRequestsPartial", Model)
</div>

<div id="pending-games-container">
    @await Html.PartialAsync("_PendingGamesPartial", Model.Pending)
</div>

<div id="session-status" data-session="@Model?.Pending?.Session"></div>
<div id="game-status" data-status="@Model?.Pending?.Status"></div>