@using System.Security.Claims
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Waiting for Opponent";
    var token = Model;
}

<div class="d-flex justify-content-center">
    <h2>Waiting for an Opponent...</h2>
</div>

<div id="loading" class="d-flex justify-content-center">
    <img src="~/images/loading.gif" alt="Loading..." />
</div>

<div class="d-flex justify-content-center">
    <p>Waiting for an opponent to join...</p>
</div>

<div class="d-flex justify-content-center">
    <form asp-action="Delete" method="post">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger">Cancel Game</button>
    </form>
</div>

<script>
    setTimeout(function () {
        window.location.reload();
    }, 3000);
</script>
