<section id="player-info" class="player-info">
  <h2>
    Playing against
    <span id="opponent-name"></span>
  </h2>
</section>

<section id="score-display" class="score-display">
  <p>
    <span id="player-color-indicator" class="color-indicator">
      <strong><span id="player-score">0</span></strong>
    </span>
  </p>
  <p>
    <span id="timer-color-indicator" class="color-indicator">
      <strong><span id="time-remaining">0</span></strong>
    </span>
  </p>
  <p>
    <span id="opponent-color-indicator" class="color-indicator">
      <strong><span id="opponent-score">0</span></strong>
    </span>
  </p>
</section>

<section id="game-board-container"></section>

<section id="button-container">
  <button id="pass-button" class="button button--succes">Pass</button>
  <button id="forfeit-button" class="button button--danger">Forfeit</button>
</section>

<section id="feedback-section" aria-label="Feedback Widget">
  <article id="feedback-widget" role="alert"></article>
</section>