@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Recovery code verification";
}

<div class="d-flex align-items-center justify-content-center vh-100 text-white text-center" style="background: url('https://www.wikihow.com/images/6/6d/Play-Othello-Step-13-Version-2.jpg') no-repeat center; background-size: cover;">
    <div class="bg-dark bg-opacity-75 p-5 rounded col-md-4">
        <h1>@ViewData["Title"]</h1>
        <hr />
        <p>
            You have requested to log in with a recovery code. This login will not be remembered until you provide
            an authenticator app code at log in or disable 2FA and log in again.
        </p>
        <form method="post">
            <input asp-for="Breached" type="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="Input.RecoveryCode" class="form-label"></label>
            <div class="form-floating mb-3">
                <input asp-for="Input.RecoveryCode" class="form-control text-center" autocomplete="off" style="padding: 0;" />
                <span asp-validation-for="Input.RecoveryCode" class="text-white"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}