@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="d-flex align-items-center justify-content-center vh-100 text-white text-center" style="background: url('https://www.wikihow.com/images/6/6d/Play-Othello-Step-13-Version-2.jpg') no-repeat center; background-size: cover;">
    <div class="bg-dark bg-opacity-75 p-5 rounded col-md-4">
        <h1>@ViewData["Title"]</h1>
        <section>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <label asp-for="Input.Username"></label>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Username" class="form-control text-center" autocomplete="username" aria-required="true" style="padding: 0;" />
                    <span asp-validation-for="Input.Username" class="text-white"></span>
                </div>
                <label asp-for="Input.Password"></label>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control text-center" autocomplete="current-password" aria-required="true" style="padding: 0;" />
                    <span asp-validation-for="Input.Password" class="text-white"></span>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a asp-page="./Register" style="color: white;">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
