@model GamePartial

<div id="board-container">
    @await Html.PartialAsync("_BoardPartial", Model)
</div>

<div id="players-turn-container">
    @await Html.PartialAsync("_PlayersTurnPartial", Model)
</div>

<div id="buttons-container">
    @await Html.PartialAsync("_ButtonsPartial", Model)
</div>