@model MVC.Models.Game

<div class="d-flex justify-content-center">
    <h2>Game Details</h2>
</div>

<div class="d-flex justify-content-center">
    <p>Game Token: @Model.Token</p>
</div>
<div class="d-flex justify-content-center">
    <p>Player One: @Model.First</p>
</div>
<div class="d-flex justify-content-center">
    <p>Player Two: @Model.Second</p>
</div>
<div class="d-flex justify-content-center">
    <p>Status: @Model.Status</p>
</div>