@model MVC.Models.Player

<h2>Edit Player</h2>

<form asp-action="EditPlayer" method="post">
    <input type="hidden" asp-for="Token" />

    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="LastActivity"></label>
        <input asp-for="LastActivity" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Friends"></label>
        <input asp-for="Friends" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="PendingFriends"></label>
        <input asp-for="PendingFriends" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a asp-action="Players" class="btn btn-secondary">Cancel</a>
</form>